<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include('../partials/head.ejs') %>
    </head>
    <body>
        <header>
            <%- include('../partials/header.ejs') %>
        </header>
        <nav>
            <%- include('../partials/nav.ejs') %>
        </nav>
        <div class="index-container">
            <ul>
                <% for (let exercise of exercises) { %>
                    <li>
                        <a href="/exercises/<%=exercise._id%>" class="exercise-link">
                            <button type="button" class="exercisebtn"><%= exercise.name %></button>
                        </a>
                        <br>
                        <a href="/exercises/<%=exercise._id%>/edit">
                            <button type="button" class="editbtn">EDIT</button>
                        </a>
                      </li>
                <% } %>
            </ul>
        </div>

        <!-- <a href="/exercises/new">New Exercise</a> -->
    </body>
</html>
